.placeHolder {
  clear: both;

  width: 100%;
  min-height: 300px;
}

.placeHolder-left {
  clear: both;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  min-height: 300px;
  display: flex;
}

.input {
  &-field {
    height: 80px !important;
    &_error {
      padding: 4px 0px;
    }
  }
}
