.aside {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding-top: 20px;
  background-color: yellow;

  .menu {
    background-color: rgb(255, 208, 0);
    width: 200px;

    .nav {
      clear: both;
      background-color: #ffa600;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      height: 700px;
      display: flex;

      a {
        box-sizing: border-box;
        width: 100%;
        color: white;
        text-decoration: none;
        padding: 10px;

        &:hover {
          background-color: #ca8401;
        }
      }
    }
  }
}
