services:
  mariadb:
    image: mariadb:11.3
    container_name: mariadb-database
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: edouard
      MARIADB_DATABASE: mydb
      MARIADB_USER: myuser
      MARIADB_PASSWORD: mypassword
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "3307:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - mariadb_net

  next:
    container_name: next-application
    image: node:22.22.0
    working_dir: /usr/src/app
    build:
      context: .
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      NODE_ENV: production
      NEXT_TELEMETRY_DISABLED: "1"
      DATABASE_URL: mysql://myuser:mypassword@mariadb:3307/mydb
    restart: always
    depends_on:
      mariadb:
        condition: service_healthy
    networks:
      - mariadb_net

volumes:
  mariadb_data:

networks:
  mariadb_net:
    driver: bridge
