@use '../../styles/base.scss';

.HeaderApi {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: white;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;

  &_nav {
    margin: 0;
    padding: 0;
    height: 40px;
    display: flex;
    width: 1000px;
    list-style-type: none;
    border: 1px solid #d4d4d4ff;
    overflow: hidden;

    & a {
      display: flex;
      font-family: system-ui;
      color: base.$primary;
      font-weight: bold;
      text-decoration: none;
      border-left: 1px solid #d4d4d4ff;
      font-size: 15px;
      width: 100%;
      height: 40px;
      align-items: center;
      flex-direction: row;
      align-content: center;
      justify-content: center;

      &:first-of-type {
        border: none;
      }

      &:hover {
         color: base.$primary;
      }
    }

    & .current {
       color: base.$primary;
    }
  }
}
